.header
{
	background:orange;
	padding:10px;
}
.kitchen
{
	font-size:20px;
	color:white;
}
.menu1
{
	padding:10px;
	background:lightgrey;
	color:white;
}
.menu2
{
	padding:10px;
}
.content
{
	margin-top:50px;
}
.line
{
	margin-top:70px;
}